*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color:  aquamarine;
    font-family: monospace;
}

button{
    background: none;
    border: none;
    color: darkgray;
}

button:hover{
    cursor: pointer;
}

.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.music-interface{
    position: relative;
    width: 14rem;
}

.play{
}

.music-play{
    display: flex;
    background-color: white;
    border-radius: 0.7rem 0.7rem 0 0;
    flex-direction: column;
    padding: 1rem;
    padding-left: 3rem;
    margin-left: 3rem;
    opacity: 0.75;
    width: 6rem;
}

.progress{
    width: 6rem;
    height: 3px;
    background-color:darkgray;
}

.bar{
    height: 100%;
    width: 90%;
    background-color:royalblue;
}

.music-img{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px skyblue solid;
    animation: rotate 5s ease-in-out;
    animation-play-state: running;
}

.music-disc{
    position: absolute;
    top: -2rem;
    left: 0.5rem;
}

.music-buttons{
    position: relative;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    background-color:khaki;
    padding: 1rem;
    width: 12rem;
    border-radius: 0.7rem;
}

.music-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    color: darkgray;
}

.music-nav i:hover{
    cursor: pointer;
}

.prev-btn,
.next-btn{
    font-size: 0.8rem;
}


.play-btn{
    font-size: 1.5rem;
}

.pause-btn{
    display: none;
}


@keyframes rotate{
    from{
        transform: rotate(0deg)
    }

    to{
        transform: rotate(360deg);
    }
}